<h2>Apacheの設定ファイルを有効・無効にする</h2>

UbunutのApacheでは、コマンドによって、設定ファイルの有効・無効を切り替えるコマンドが存在します。

Apacheの設定ファイルの場所は「/etc/apache2」です。

Apacheの設定ファイルのディレクトリ構成を見てください。設定ファイルに関するものだけを表示します。

<pre>
-rw-r--r-- 1 root root  7224 Mar 13 21:26 apache2.conf
drwxr-xr-x 2 root root  4096 Jun  8 15:37 conf-available
drwxr-xr-x 2 root root  4096 Jun  8 15:37 conf-enabled
drwxr-xr-x 2 root root 12288 Jun  8 15:21 mods-available
drwxr-xr-x 2 root root  4096 Jun  8 16:07 mods-enabled
-rw-r--r-- 1 root root   320 Jul 17  2019 ports.conf
drwxr-xr-x 2 root root  4096 May 26 14:59 sites-available
drwxr-xr-x 2 root root  4096 May 26 14:59 sites-enabled
</pre>

confで始まるものは、一般的な設定、modsで始まるものはApacheモジュールの設定、sitesで始まるものは、複数のサイトを運営するためのバーチャルホストの設定です。

<h4>有効になるApacheの設定ファイル</h4>

Apacheの設定ファイルとしてが有効になるのは、以下です。設定が有効になるためには、以下のどれかに該当する必要があります。availableに格納されている設定ファイルは、そのままでは有効になりまｗせん。

<pre>
#       /etc/apache2/
#       |-- apache2.conf
#       |       `--  ports.conf
#       |-- mods-enabled
#       |       |-- *.load
#       |       `-- *.conf
#       |-- conf-enabled
#       |       `-- *.conf
#       `-- sites-enabled
#               `-- *.conf
</pre>

<h3>一般的な設定ファイル</h2>

まず、あなたが新しく作る設定ファイルは、apache2.confの中に書きたくなりますが、これは、デフォルトのまま置いておくことをお勧めします。

あなたが新しく作る設定ファイルは「conf-available」の中に作成します。「myapache2.conf」という名前で配置してみましょう。<a href="https://linux.perlzemi.com/blog/20190401171737.html">viコマンド</a>で新規に作成します。

<pre>
sudo vi conf-available/myapache2.conf
</pre>

保存して終了してください。

<h4>一般的なApacheの設定ファイルをa2enconfで有効にする</h4>

次にこの設定ファイルa2enconfコマンドで有効にします。

<pre>
sudo a2enconf myapache2
</pre>

<a href="https://linux.perlzemi.com/blog/20191126082723.html">ls</a>コマンドで「conf-enabled」の中を見てみます。

<pre>
ls -l conf-enabled
</pre>

するとシンボリックリンクが「conf-available/myapache2.conf」に対して作成されていることがわかります。

<pre>
myapache2.conf -> ../conf-available/myapache2.conf
</pre>

これで、あなたの作成したApacheの設定ファイルが有効になりました。

有効にした後は、Apacheに設定を反映させるには<a href="/blog/20200519084454.html">Apacheを再起動</a>する必要があります。

<h4>一般的なApacheの設定ファイルをa2disconfで無効にする</h4>

無効にするには、a2disconfコマンドを使用します。

<pre>
sudo a2disconf myapache2
</pre>

無効にした後は、Apacheに設定を反映させるにはApacheを再起動する必要があります。

<h3>モジュール設定ファイル</h2>

Apacheのモジュールは、利用可能だが、有効化されていないものがあります。そのようなモジュールの設定は「mods-available」の中にあります。

<h4>Apacheのモジュールの設定ファイルをa2enmodで有効にする</h4>

Apacheのモジュールの設定ファイルを有効にするにはa2enmodコマンドを使用します。sslモジュール(mod_ssl)を有効にしてみます。

<pre>
sudo a2enmod ssl
</pre>

「mods-enabled」の中にシンボリックリンクが張られます。設定を反映させるにはApacheの再起動が必要です。

<h4>Apacheのモジュールの設定ファイルをa2dismodで無効にする</h4>

Apacheのモジュールの設定ファイルを無効にするには、a2dismodコマンドを使用します。

<pre>
sudo a2dismod ssl
</pre>

無効にした後は、設定を反映させるにはApacheの再起動が必要です。

<h3>複数のサイトを運営するためのバーチャルホストの設定ファイル</h2>

Ubuntuでは、バーチャルホストで複数のサイトを運営するための「sites-available」ディレクトリが用意されています。

まず、新しくバーチャルホストの設定を書く場合は「sites-available」に設定ファイルを格納しましょう。

サイトのドメイン名を設定ファイルの名前にします。拡張子は「.conf」です。

<pre>
vi www.mysite.example.conf
</pre>

この中にバーチャルホストの設定を書きましょう。

<h4>バーチャルホストの設定ファイルをa2ensiteで有効にする</h4>

バーチャルホストの設定ファイルを有効にするにはa2ensiteコマンドを使用します。sslモジュール(mod_ssl)を有効にしてみます。

<pre>
sudo a2ensite www.mysite.example
</pre>

「sites-enabled」の中にシンボリックリンクが張られます。設定を反映させるにはApacheの再起動が必要です。

<h4>バーチャルホストの設定ファイルをa2dissiteで無効にする</h4>

バーチャルホストの設定ファイルを無効にするには、a2dissiteコマンドを使用します。

<pre>
sudo a2dissite www.mysite.example
</pre>

無効にした後は、設定を反映させるにはApacheの再起動が必要です。
