<div class="bread">
  <ul itemscope itemtype="http://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop="name">Ubuntu</span>
      </a>
      <meta itemprop="position" content="1" />
    </li>
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200830052743.html">
        <span itemprop="name">cron</span>
      </a>
      <meta itemprop="position" content="2" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>

<h2>crontab - cronで定期実行するプログラムを記述する</h2>

cronはプログラムを定期実行するためのアプリケーションですが、その設定ファイルはcrontabというコマンドを使って編集します。

crontabは、ユーザーごとに持つことができます。myappというユーザーでcrontabを編集すると、それはmyappのcrontabになります。

<h3>crontabを編集する</h3>

crontabを編集するには「-e」オプションを使用します。

<pre>
crontab -e
</pre>

エディタが起動します。

もし使用するエディタを切り替えたい場合は<a href="/blog/20200325174004.html">select-editor</a>コマンドを実行してください。

<h3>crontabの記述方法</h3>

crontabeでは、分 時 日 月 週を指定して、プログラムを定期実行できます。

<pre>
分 時 日 月 週 コマンド
</pre>

たとえば、毎時の15分に実行する場合は以下のように書きます。

<pre>
15 * * * * foo.pl
</pre>

実行の最低単位は1分です。

「*」は単位毎を意味します。分の位置に「*」が指定された場合は、毎分という意味になります。

毎分実行する場合は以下のようになります。

<pre>
* * * * * foo.pl
</pre>

カンマで区切って、複数指定することも可能です。

<pre>
15,30,45 * * * * foo.pl
</pre>

「/」記号を使うと、15分毎のような記述ができます。

<pre>
*/15 * * * * foo.pl
</pre>

crontabのサンプルは以下に詳しいです。

<ul>
  <li><a href="https://crontab.guru/examples.html">Cron Examples(crontab guru)</a></li>
</ul>

<h3>crontabでユーザーPerlを使用する</h3>

crontabののはまりどころのひとつは、perlbrewやplenvでインストールしたユーザーPerlがcronからは利用されないということでしょう。

これはcronから実行するときは、シェルが起動されないのでperlbrewやplenvの設定が記述されている「.bashrc」「.bash_profile」が読み込まれないことが原因です。

一番簡単な解決策は、crontabの中でPATHを、そのユーザーが持っている環境変数PATHの値に書き換えてあげることです。

まずperlbrewをインストールしたユーザーで、PATH環境変数の値を表示します。

<pre>
env | grep PATH
</pre>

PATHを含んだ環境変数がいくつか表示されるので、PATHというものを探します。(ユーザー名がmyappの場合の例です。)

<pre>
PATH=/home/myapp/perl5/perlbrew/bin:/home/myapp/perl5/perlbrew/perls/perl-5.16.2/bin:/usr/kerberos/bin:/usr/local/bin:/bin:/usr/bin:/home/myapp/bin
</pre>

以下のコマンドでcrontabを編集します。

<pre>
crontab -e
</pre>

そして上記のPATHの値をcrontabの一番上に書き込みます。

<pre>
PATH=/home/myapp/perl5/perlbrew/bin:/home/myapp/perl5/perlbrew/perls/perl-5.16.2/bin:/usr/kerberos/bin:/usr/local/bin:/bin:/usr/bin:/home/myapp/bin

# crontabの設定が続く...
</pre>

これでcronがインストールしたユーザーPerlを利用してくれるようになります。

<h3>Perlのライブラリのパスを追加する</h3>

ライブラリのパスがあれば以下のように「PERL5LIB」を設定しましょう。Mojoliciousで作成したアプリケーションをバッチファイルから読み込む場合に必要な記述です。

<pre>
PERL5LIB=/home/myapp/webapp/lib
</pre>

<h3>cronのエラーが発生した場合のメールの送信先を変更する MAILTO</h3>

cronは、標準エラー出力に出力があった場合は、メールを送信するという動作をします。

<strong>MAILTO</strong>を使えば<strong>cron</strong>でメールの送信先を変更することができます。<strong>crontab</strong>の中に次の一行を追加します。

設定しない場合は、cronを実行したユーザーのローカルのメールボックスに入ります。

<pre>
MAILTO=kimoto_test@kimoto-system.co.jp
</pre>

複数のメールアドレスを設定する場合はカンマで区切ります。

<pre>
MAILTO=kimoto_test@kimoto-system.co.jp,taro@somehost.com
</pre>

メールアドレスを設定しておくと、cronで実行しているバッチ処理のエラーを知ることができるので便利です。

<h3>crontabの内容をバックアップして保存</h3>

<b>-l</b>オプションで内容を表示することができます。リダイレクトして、内容をバックアップすることができます。

<pre>
crontab -l > crontab_prod
</pre>

これを、ソースコードと一緒に、Gitで管理しておけば、最悪crontabの設定全てを失うリスクを避けることができます。

<h3>crontabに設定をファイルから読み込む</h3>

crontabの引数にファイルを指定すると設定をファイルからcrontabに読み込むことができます。

<pre>
crontab ファイル名
</pre>

<h3>cronの起動・停止・再起動・状態確認, cronの実行ログ</h3>

cronの起動・停止・再起動・状態確認, cronの実行ログについては以下の記事を参考にしてくだい。

<ul>
  <li><a href="/blog/20200520084454.html">cronの起動・停止・再起動・状態確認, cronの実行ログ</a></li>
</ul>
