<h2>ユーザーPerlとcpanmのインストール</h2>

Webシステム開発用のユーザーPerlをインストールします。Webシステム開発に使用するPerlのモジュールをインストールするために、cpanmと呼ばれるツールもインストールします。

システムPerlとは別に、ユーザーPerlをインストールするのは、システム環境を汚さないように、Perlのモジュールをインストールできるからです。もし、PerlやPerlのモジュールにセキュリティ脆弱性があった場合も、速やかにアップデートでき、セキュリティ的にもよいです。

ユーザーPerlをインストールするツールとして、perlbrewまたはplenvがありますが、好みで選んでください。

<a href="https://tutorial.perlzemi.com/">Perlゼミ</a>のサイトで解説されています。

<ul>
  <li><a href="https://tutorial.perlzemi.com/blog/20110220130464.html">perlbrew - ユーザー環境にPerlをインストールする</a></li>
  <li><a href="https://tutorial.perlzemi.com/blog/20180816153437.html">plenv - ユーザー環境にPerlをインストールする</a></li>
</ul>
