<h2>物理的に接続されているディスクを確認する - fdisk -l</h2>

Ubuntuに物理的に接続されているディスクを確認するには「fdisk -l」を使います。外付けハードディスクを接続した、あるいは、クラウドサービスで、GUI画面上から、ハードディスクを増設(アタッチ)したという場合を想定します。この状態は、まだLinuxのファイルシステムには認識されておらず、ハードディスクというデバイスが物理的に接続されたという状態です。

まず「fdisk -l」で、接続されているディスクの状態を確認します。<a href="/blog/20200531085516.html">sudo</a>を使って管理者権限で実行します。

<pre>
sudo fdisk -l
</pre>

出力結果のサンプルです。このサンプルは、1TiBのディスクを接続したものです。

「/dev/sda: 30 GiB」というのが、最初に存在していたディスクです。「/dev/sdb」はブート開始に利用される領域のようです(たぶん)。ブートというのは、OSの起動のことです。

「/dev/sdc」に1TiBのディスクが接続されています。

<pre>
Disk /dev/sda: 30 GiB, 32213303296 bytes, 62916608 sectors
Units: sectors of 1 * 512 = 512 bytes
Sector size (logical/physical): 512 bytes / 4096 bytes
I/O size (minimum/optimal): 4096 bytes / 4096 bytes
Disklabel type: gpt
Disk identifier: 1063137B-3864-48EE-946E-22FB0FA6320A

Device      Start      End  Sectors  Size Type
/dev/sda1  227328 62916574 62689247 29.9G Linux filesystem
/dev/sda14   2048    10239     8192    4M BIOS boot
/dev/sda15  10240   227327   217088  106M EFI System

Partition table entries are not in disk order.


Disk /dev/sdb: 16 GiB, 17179869184 bytes, 33554432 sectors
Units: sectors of 1 * 512 = 512 bytes
Sector size (logical/physical): 512 bytes / 4096 bytes
I/O size (minimum/optimal): 4096 bytes / 4096 bytes
Disklabel type: dos
Disk identifier: 0xa252cd85

Device     Boot Start      End  Sectors Size Id Type
/dev/sdb1         128 33552383 33552256  16G  7 HPFS/NTFS/exFAT




Disk /dev/sdc: 1 TiB, 1099511627776 bytes, 2147483648 sectors
Units: sectors of 1 * 512 = 512 bytes
Sector size (logical/physical): 512 bytes / 4096 bytes
I/O size (minimum/optimal): 4096 bytes / 4096 bytes</pre>
</pre>

<a href="https://linux.perlzemi.com/">Linux</a>では「/dev/sda」「/dev/sdb」「/dev/sdc」のような名前で、物理ディスクが表現されます。

DiskとDeviceというのがセットになっています。Deviceという項目がない場合は、まだファイルシステムなどから利用されていないということです。

「/dev/sda」というのは、さらに

<pre>
Device      Start      End  Sectors  Size Type
/dev/sda1  227328 62916574 62689247 29.9G Linux filesystem
/dev/sda14   2048    10239     8192    4M BIOS boot
/dev/sda15  10240   227327   217088  106M EFI System
</pre>

末尾に数字が付いた領域に分割されていますね。これは、パーティションという機能を使った、論理的なディスクの分割です。

「/dev/sda」が物理ディスクを表現、分割された「/dev/sda1」「/dev/sda14」「/dev/sda15」が論理的なディスクを表現しています。

<h3>物理ディスクをLinuxファイルシステムとして認識させるには?</h3>

物理ディスクをLinuxファイルシステムとして認識させる方法は、他の記事で解説します。
