<div class="bread">
  <ul itemscope itemtype="http://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop="name">Ubuntu</span>
      </a>
      <meta itemprop="position" content="1" />
    </li>
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200526151435.html">
        <span itemprop="name">Apache</span>
      </a>
      <meta itemprop="position" content="2" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>

<h2>Apacheでmod_proxyモジュールを有効にする</h2>

UbuntuのApacheでは、プロキシ機能を提供するmod_proxyモジュールがデフォルトでは有効になっていないので、有効にします。

<pre>
sudo a2enmod proxy
</pre>

設定を反映させるためには<a href="/blog/20200519084454.html">Apacheを再起動</a>してください。

Apacheのモジュールを有効・無効にする方法については、以下の記事を参考にしてください。

<ul>
  <li><a href="/blog/20200610082714.html">Apache設定ファイルを有効・無効にする - 基本設定・モジュール設定・サイト設定</a></li>
</ul>

HTTP・HTTPSをプロキシするには別途mod_proxy_httpが必要になるので注意してください。

<h3>mod_proxyが存在しない場合のApacheのエラーメッセージ</h3>

mod_proxyが存在しない場合にApacheのエラーメッセージの例。

<pre>
Invalid command '<Proxy', perhaps misspelled or defined by a module not included in the server configuration
</pre>

