<div class="bread">
  <ul itemscope itemtype="http://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop="name">Ubuntu</span>
      </a>
      <meta itemprop="position" content="1" />
    </li>
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200723101434.html">
        <span itemprop="name">ユーザー管理</span>
      </a>
      <meta itemprop="position" content="2" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>

<h2>sudo - 管理者権限で実行する</h2>

sudoは、一般ユーザーが、別ユーザーの権限でコマンドを実行するための機能ですが、一般的には、root権限で実行するために使用されます。

sudoでユーザーを指定しない場合は、rootユーザーの権限でコマンドを実行しま。

<pre>
sudo コマンド
</pre>

sudoを実行するタイミングで、自分自身のパスワードを再度聞かれます。一度パスワードを入力すると、すうじ


<h3>sudoの運用方法</h3>

運用の方法としては、まず管理者となる<a href="/blog/20200511173052.html">一般ユーザーをuseraddで作成</a>します(kimotoなど)。

<pre>
sudo useradd -m kimoto
</pre>

<a href="/blog/20200510173052.html">passwdでパスワードを設定</a>します。

<pre>
sudo passwd kimoto
</pre>

gpasswdで、管理者となる一般ユーザーをsudoグループに追加します。

<pre>
sudo gpasswd -a kimoto sudo
</pre>

これで、kimotoは、自分のパスワードで、root権限が必要なコマンドを実行することができます。

<h3>sudoの利点</h3>

sudoの利点です。

<ul>
  <li>sudoには、だれがどんなコマンドを実行したのかの記録機能がある</li>
  <li>時間経過で、root権限がなくなる。パスワードの再入力を求められる。端末放置された場合でも安心。</li>
  <li>root権限は、リスクを伴う権限でもあるので、だれが作業したかがわかると緊張感をもって作業できる</li>
</ul>
