<h2>Perl以外のプログラミング言語のインストール</h2>

Perl以外のプログラミング言語のインストールです。

<h3>C言語のインストール</h3>

C言語は、<a href="/blog/20200504174004.html">gcc</a>というコンパイラをインストールすると使えるようになります。

<h3>PHPのインストール</h3>

PHPをインストールする。

<pre>
sudo apt install -y php
</pre>
<h3>Rubyのインストール</h3>

Rubyをインストールする。

<pre>
sudo apt install -y ruby
</pre>

<h3>Javaのインストール</h3>

Javaをインストールする。Open JDKと呼ばれる種類のJavaです。実行環境であるJREと開発ツールキットであるJDKをインストールします。

<pre>
sudo apt install -y default-jre
</pre>

JREをインストールするとJDKもインストールされます。

<h3>nodejsのインストール</h3>

JavaScriptの実行環境であるnodejsをインストールする。

<pre>
sudo apt install -y nodejs
</pre>

<h3>Python 2のインストール</h3>

Python 2をインストールする。

<pre>
sudo apt install -y python
</pre>

<h3>Python 3のインストール</h3>

Python 3をインストールする。

<pre>
sudo apt install -y python3
</pre>

僕の好きなこのプログラミング言語ないよというものありましたら、<a href="https://github.com/yuki-kimoto/perlzemiubuntu">プルリクエスト</a>歓迎。

