<h2>UbuntuとCentOSの違うところ・共通化されたところ</h2>

UbuntuとCentOSの違うところをここでまとめておきます。両方で動くようになるのがよいですね。

<h3>CentOSでは「/bin/sh」は「/bin/bash」にシンボリックリンクが張られている</h3>

CentOSでは「/bin/sh」は「/bin/bash」にシンボリックリンクが張られている。

シェバンを以下のように書いているとCentOSでは、bashで実行されるのに対して、Ubuntuでは、shで実行される。

<pre>
#!/bin/sh
</pre>

そして、bashの文法を使っていると以下のように文法エラーになる。

<pre>
./morbo: 10: ./morbo: Syntax error: "(" unexpected
</pre>

ポータビリティを持たせるためには、明示的にbashとシェバンを書くのがよい。

<pre>
#!/bin/bash
</pre>

<h3>パッケージ管理</h3>

パッケージ管理ツールUbuntuではapt、CentOSではyumの違いがある。パッケージのインストールプロセスは、共通化されていない(2020年5月21日現在)。

<h3>ファイアーウォール</h3>

ファイアーウォールは、Ubuntuはufw、CentOSはfirewalldと異なる。

ファイアーウォールは、コマンドラインでの設定は、非常にややこしく、やりたくないという気持ちは強い。

クラウドサービスには、たいてい、ネットワークのパケット制御が存在するので、それで設定すると、Linux自体のファイアーウォールを意識しないですむ。

<h3>cron</h3>

Ubuntuの場合は、デフォルトでcronがインストールされていて、普通のcronです。自然にcronを使えます。

CentOSの場合は、デフォルトのcronがanacronです。普通のcronが欲しい場合は、anacronをアンインストールして、普通のcronをインストールする必要があります。

<h3>SeLinux</h3>

CentOSの場合は、SeLinuxがデフォルトでonになっている。この機能、リバースプロキシでの接続で、プロキシエラーになっちゃうので、SeLinuxを無効にするか、リバースプロキシができる設定にする必要があります。

Ubuntuの場合は、CentOSのSeLinuxに該当する機能は、デフォルトでoffになっているようです。

<h3>ここ最近共通になったもの(2020年5月21日現在)</h3>

CentOSとUbuntuで、ここ最近共通になったもの。

<h4>systemctl</h4>

CentOSもUbuntuもサービス(サーバーとして起動する者)は、systemdで管理するようになって、管理コマンドもsystemctlになりました。

<h4>journalctl</h4>

systemdのログ管理もjournalctlがUbuntuとCentOSで共通で使える。
