<h2>ロケールの確認と変更 - localeコマンド</h2>

ロケールの確認と変更は、localeコマンドで行えます。

<h3>ロケールの確認</h3>

localeコマンドで、現在のロケールを確認できます。

<pre>
locale
</pre>

以下のように現在設定されているロケールが表示されます。

<pre>
LANG=C.UTF-8
admins@development-batch:/$ locale
LANG=C.UTF-8
LANGUAGE=
LC_CTYPE="C.UTF-8"
LC_NUMERIC="C.UTF-8"
LC_TIME="C.UTF-8"
LC_COLLATE="C.UTF-8"
LC_MONETARY="C.UTF-8"
LC_MESSAGES="C.UTF-8"
LC_PAPER="C.UTF-8"
LC_NAME="C.UTF-8"
LC_ADDRESS="C.UTF-8"
LC_TELEPHONE="C.UTF-8"
LC_MEASUREMENT="C.UTF-8"
LC_IDENTIFICATION="C.UTF-8"
LC_ALL=
</pre>

<h3>利用可能なロケールの一覧</h3>

利用可能なロケールの一覧を表示するには「-a」オプションを使用します。availableの略でしょうか。

<pre>
locale -a
</pre>

<pre>
C
C.UTF-8
POSIX
en_US.utf8
</pre>

どうやら日本語で利用可能なロケールは、ないようです。

<h3>ロケールのインストール</h3>

ロケールをインストールしてみましょう。aptコマンドで、日本語パッケージをダウンロードします。sodoを使って管理者権限でインストールします。

<pre>
sudo apt install language-pack-ja
</pre>

