<h2>tesseract-ocrのインストール - バッチ実行できるOCR</h2>

OCRは、文字の読み取りソフトウェアのことですが、tesseract-ocrは、コマンドラインで、バッチ実行できます。

<pre>
sudo apt install -y tesseract-ocr
</pre>

<h4>tesseractコマンドがインストールされたことの確認</h4>

tesseractコマンドがインストールされたことを確認してみましょう。

<pre>
tesseract -v
</pre>

以下のように出力されます。

<pre>
tesseract 4.0.0-beta.1
 leptonica-1.75.3
  libgif 5.1.4 : libjpeg 8d (libjpeg-turbo 1.5.2) : libpng 1.6.34 : libtiff 4.0.9 : zlib 1.2.11 : libwebp 0.6.1 : libopenjp2 2.3.0

 Found AVX512BW
 Found AVX512F
 Found AVX2
 Found AVX
 Found SSE
</pre>
