<h2>hostsファイル「/etc/hosts」 - ホスト名とIPアドレスの対応</h2>

hostsファイルは、IPアドレスとホスト名の対応を記述するためのファイルです。

<pre>
cat /etc/hosts
</pre>

デフォルトでは、localhostとループバックアドレスの対応が書かれています。IPv4とIPv6。

<pre>
127.0.0.1               localhost.localdomain localhost
::1             localhost6.localdomain6 localhost6
</pre>

<h3>ホスト名を扱うアプリケーションにおける自動的なIPアドレス解決</h3>

hostsファイルの役割は、ホスト名を扱うアプリケーションで、IPアドレスを自動的に解決できることです。

viを使って、hostsファイルを編集します。

<pre>
sudo vi /etc/hosts
</pre>

たとえば、データベースへ接続するアプリケーションにおいて、データベースへの接続先ホストを記述したとしてください。

この場合、開発環境と本番環境では、データベースが異なり、そのIPアドレスも異なります。このような場合に、アプリケーションにおいて、ホスト名を記述しておき、hostsファイルでIPアドレスを解決してもらうことができます。

<pre>
13.66.226.204 database
</pre>

mysqlコマンドで、ホスト名を使ったサンプルです。開発環境と本番環境で、それぞれIPアドレスとの対応を定義すれば、同じ記述で、接続できます。

<pre>
# IPアドレスで指定
mysql -h 13.66.226.204 -ukimoto -p

# ホスト名で指定
mysql -h database -ukimoto -p
</pre>
