<h2>Apacheの設定ファイルの場所</h2>

UbuntuにおけるApacheの設定ファイルの場所は「/etc/apache2」です。

<pre>
ls /etc/apache2
</pre>

この中にApacheの設定ファイルが格納されています。

<pre>
-rw-r--r-- 1 root root  7224 Mar 13 21:26 apache2.conf
drwxr-xr-x 2 root root  4096 Jun 10 08:41 conf-available
drwxr-xr-x 2 root root  4096 Jun 10 08:46 conf-enabled
-rw-r--r-- 1 root root  1855 May 27 15:53 envvars
-rw-r--r-- 1 root root  1782 May 27 15:42 envvars.bak
-rw-r--r-- 1 root root 31063 Jul 17  2019 magic
drwxr-xr-x 2 root root 12288 Jun  8 15:21 mods-available
drwxr-xr-x 2 root root  4096 Jun  8 16:07 mods-enabled
-rw-r--r-- 1 root root   320 Jul 17  2019 ports.conf
drwxr-xr-x 2 root root  4096 May 26 14:59 sites-available
drwxr-xr-x 2 root root  4096 May 26 14:59 sites-enabled
</pre>
