<h2>mariadb-clientのインストール - MariaDBデータベースクライアント</h2>

<a href="https://mariadb.perlzemi.com/">MariaDBデータベース</a>のクライアントアプリケーションである「mysql」を使えるように「mariadb-client」をインストールしましょう。

<pre>
sudo apt install mariadb-client
</pre>

<h4>mysqlコマンドがインストールされたことの確認</h4>

MariaDBのmysqlコマンドがインストールされたことを確認しましょう。

<pre>
mysql --version
</pre>

以下のようにバージョン情報が表示されるとインストールされています。

<pre>
mysql  Ver 15.1 Distrib 10.1.44-MariaDB, for debian-linux-gnu (x86_64) using readline 5.2
</pre>

<h3>DBD::MySQLを使える用にするには</h3>

(2020年5月18日時点で、確認未)

PerlのDBD::MySQLを使るようにするには「libmariadb-dev」パッケージが必要になります。
