<h2>ロケールの確認と変更 - localectlコマンド</h2>

ロケールの確認と変更は、<b>localectlコマンド</b>で行えます。ロケールは、ロケール対応のソフトウェアがあった場合に、どの国の言語で画面に出力するか、どの文字コードで出力するかを指定するものです。

PerlでWebシステム開発環境を構築する場合は、ロケールの設定は、デフォルトの設定でよく、必要がないと感じます。

その理由は、<a href="https://tutorial.perlzemi.com/">Perlプログラミング言語</a>は、文字コードに関して、OSフラット、ロケールフラットだからです。

(本当に大丈夫かどうかは、2020年5月13日時点では未確認。)

<h3>ロケールの確認</h3>

localectlコマンドで、現在のロケールを確認できます。

<pre>
localectl
</pre>

以下のように現在設定されているロケールが表示されます。デフォルトでは「C.UTF-8」です。初期インストールの状態で、シェルでは、UTF-8で入力・出力が行えます。

<pre>
   System Locale: LANG=C.UTF-8
       VC Keymap: n/a
      X11 Layout: us
       X11 Model: pc105
</pre>

<h3>利用可能なロケールの一覧</h3>

利用可能なロケールの一覧を表示するには「localectl list-locales」コマンドを使用します。

<pre>
localectl list-locales
</pre>

<pre>
C.UTF-8
en_US.utf8
</pre>

どうやら日本語で利用可能なロケールは、ないようです。

<h3>ロケールのインストール</h3>

ロケールをインストールしてみましょう。aptコマンドで、日本語パッケージをダウンロードします。sodoを使って管理者権限でインストールします。

<pre>
sudo apt install language-pack-ja
</pre>

もう一度利用可能なロケールを確認。

<pre>
localectl list-locales</pre>

「ja_JP.utf8」が追加されています。

<pre>
C.UTF-8
en_US.utf8
ja_JP.utf8
</pre>

<h3>ロケールの変更</h3>

ロケールを変更しましょう。ロケールを変更するには「localectl set-locale」コマンドを使用します。

<pre>
localectl set-locale LANG=ja_JP.UTF-8
</pre>
