<h2>userdelコマンド - ユーザーを削除する</h2>

<b>userdelコマンド</b>で、ユーザーを削除できます。sudoでroot権限で実行します。

<pre>
sudo userdel kimoto
</pre>


<pre>
sudo userdel kimoto
</pre>

ホームディレクトリの内容やメールは、削除されないので安心してください。

このユーザーがプロセスを使用していた場合は、削除ができません。

そのユーザーがプロセスを使っていない時間に行うか、プロセスを確認して、killしてよいものであれば、killする必要があります。

<pre>
# プロセスの確認
ps -ef
</pre>

<h3>ユーザー管理のその他の操作</h3>

ユーザー追加。

<ul>
  <li><a href="/blog/20200511173052.html">ユーザーを追加する - useraddコマンド</a></li>
</ul>

ユーザー一覧。

<ul>
  <li><a href="/blog/20200401174004.html">ユーザーの一覧を表示する 「/etc/passwd」ファイル</a></li>
</ul>

