<div class="bread">
  <ul itemscope itemtype="http://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop="name">Ubuntu</span>
      </a>
      <meta itemprop="position" content="1" />
    </li>
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200526151435.html">
        <span itemprop="name">Apache</span>
      </a>
      <meta itemprop="position" content="2" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>

<h2>Apacheの設定ファイルをGitで管理する</h2>

UbuntuのApacheの設定ファイルは、<a href="https://git.perlzemi.com/">Git</a>で管理しやすいようになっているので、Gitで管理してみましょう。

<pre>
cd /etc/apache2
</pre>

<h4>Gitリポジトリの初期化</h4>

Gitリポジトリとして初期化するには「<a href="https://git.perlzemi.com/blog/20200605092020.html">git init</a>」を使用します。

<pre>
sudo git init
</pre>

<h4>.gitignoreの作成</h4>

conf-enabled, mods-enabled, sites-enabledは、環境ごとに有効になっている設定ファイルですので、<a href="https://git.perlzemi.com/blog/20200610092020.html">.gitignore</a>を使ってGitの管理からはずしましょう。<a href="https://linux.perlclub.net/blog/20190401171737.html">vi</a>コマンドで、編集します。

<pre>
sudo vi .gitignore
</pre>

以下の設定を記述します。これでconf-enabled, mods-enabled, sites-enabledは、Gitの管理からはずれます。

<pre>
*-enable
</pre>

<h4>管理方法のコツ</h4>

apache2.conf, envvars, magic, ports.confは、デフォルトのまま手を加えないのがお勧めです。

xxx-availableに、開発環境と本番環境におけるすべての設定ファイルを、含めてしまいましょう。

<h4>ステージング環境に乗せる</h4>

次に、「git addコマンド」を使って、管理したいファイルをステージング環境に載せます。カレントディレクトリ以下のすべてのファイルをステージング環境に乗せるには「.」を指定します。

<pre>
sudo git add .
</pre>

ステージング環境に乗ったファイルを「git statusコマンド」で確認しましょう。

<pre>
sudo git status
</pre>

間違ってしまった場合は「git reset」でいったん元に戻しましょう。

<pre>
sudo git reset
</pre>

正しくステージングされていたら、最後にコミットです。

<pre>
sudo git commit -m "first commit"
</pre>

Githubなどのリモートリポジトリにpushしましょう。リモートリポジトリからの取り込み、リモートリポジトリへの反映については、別の場所で扱います。
