<div class="bread">
  <ul itemscope itemtype="http://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop="name">Ubuntu</span>
      </a>
      <meta itemprop="position" content="1" />
    </li>
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200529085516.html">
        <span itemprop="name">パッケージ管理</span>
      </a>
      <meta itemprop="position" content="2" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>
<h2>libreadline-devのインストール - コマンド実行履歴を保存・検索するためのReadLineのライブラリ</h2>

コマンド実行履歴を保存・検索するためのReadLineライブラリとヘッダーを含むlibreadline-devをインストールしましょう。

<pre>
sudo apt install -y libreadline-dev
</pre>

インストールされた、ReadLineのヘッダファイルとライブラリの場所については、<a href="/blog/20200429174004.html">ヘッダーファイルの読み込みパス</a>と<a href="/blog/20200428174004.html">ライブラリの読み込みパス</a>を参考にしてください。

<h3>Perlのデバッガのコマンドライン履歴を使える用にする方法</h3>

<a href="https://tutorial.perlzemi.com/blog/20100302126967.html">Perlのデバッガ</a>のコマンド履歴の機能はTerm::ReadLine::Gnuというモジュールに依存していますが、これはC言語で書かれたReadLineライブラリに依存しています。

UbuntuでPerlのデバッガを行う場合に、上下キーでコマンドのヒストリーが効かないという場合は、Term::ReadLine::Gnuライブラリがインストールされていないという可能性を疑ってみましょう。

libreadline-devパッケージをインストールした後に、Term::ReadLine::Gnuを<a href="https://tutorial.perlzemi.com/blog/20101027127859.html">cpanm</a>を使ってインストールします。

<pre>
cpanm Term::ReadLine::Gnu
</pre>
