<h2>vsftpd FTPサーバーの起動・停止・再起動・状態確認</h2>

vsftpd FTPサーバーの起動・停止・再起動・状態確認について解説します。

<h4>vsftpd FTPサーバーの状態確認</h4>

vsftpd FTPサーバーの状態確認は、<a href="/blog/20200605104005.html">systemctl</a>コマンドの「status」を使って行います。

<pre>
sudo systemctl status vsftpd
</pre>

<h5>起動している場合</h5>

起動している場合は、以下のように表示されます。

<pre>
● vsftpd.service - vsftpd FTP server
   Loaded: loaded (/lib/systemd/system/vsftpd.service; enabled; vendor preset: enabled)
   Active: active (running) since Tue 2020-05-19 12:55:57 JST; 18min ago
 Main PID: 8044 (vsftpd)
    Tasks: 1 (limit: 9479)
   CGroup: /system.slice/vsftpd.service
           mq8044 /usr/sbin/vsftpd /etc/vsftpd.conf
</pre>

<h5>停止している場合</h5>

停止している場合は、以下のように表示されます。

<pre>
● vsftpd.service - vsftpd FTP server
   Loaded: loaded (/lib/systemd/system/vsftpd.service; enabled; vendor preset: enabled)
   Active: inactive (dead) since Tue 2020-05-19 13:15:39 JST; 5s ago
  Process: 8044 ExecStart=/usr/sbin/vsftpd /etc/vsftpd.conf (code=killed, signal=TERM)
 Main PID: 8044 (code=killed, signal=TERM)

May 19 12:55:57 development-batch systemd[1]: Starting vsftpd FTP server...
May 19 12:55:57 development-batch systemd[1]: Started vsftpd FTP server.
May 19 13:15:39 development-batch systemd[1]: Stopping vsftpd FTP server...
May 19 13:15:39 development-batch systemd[1]: Stopped vsftpd FTP server.
</pre>

<h4>vsftpd FTPサーバーの起動</h4>

vsftpd FTPサーバーの起動は、systemctlコマンドの「start」を使って行います。sudoコマンドを使って、root権限で実行します。

<pre>
sudo systemctl start vsftpd
</pre>

起動が成功しても、成功したというメッセージは返ってきません。状態確認を行ってください。

<h4>vsftpd FTPサーバーの停止</h4>

vsftpd FTPサーバーの停止は、systemctlコマンドの「stop」を使って行います。sudoコマンドを使って、root権限で実行します。

<pre>
sudo systemctl stop vsftpd
</pre>

停止が成功しても、成功したというメッセージは何も返ってきません。状態確認を行ってください。

<h4>vsftpd FTPサーバーの再起動</h4>

vsftpd FTPサーバーの再起動は、systemctlコマンドの「restart」を使って行います。sudoコマンドを使って、root権限で実行します。

<pre>
sudo systemctl restart vsftpd
</pre>

restartは単に、stopコマンドを実行して、startコマンドを実行します。HTTPクライアントからの処理を切断してしまうので、通常はreloadコマンドを使用しましょう

再起動が成功しても、成功したというメッセージは返ってきません。状態確認を行ってください。

<h3>vsftpd FTPサーバーの起動・停止のログを見るには</h3>

vsftpd FTPサーバーなどのサーバーは、systemdというプログラムによって集中的に管理されています。

systemdのログにvsftpd FTPサーバーの起動・停止ログが出力されています。

systemdのログを見るには<a href="/blog/20200602135100.html">journalctlコマンド</a>を使います。「-u」オプションでユニット「vsftpd」を指定します。sudoで実行しないとFTPサーバーのログが見れないので注意してください。ログの最後の部分だけ見たい場合は「-r」オプションを組み合わせます。

<pre>
sudo journalctl -r -u vsftpd
</pre>

ログのサンプルです。

<pre>
-- Logs begin at Mon 2020-06-01 15:51:16 JST, end at Thu 2020-07-23 14:42:25 JST. --
Jul 22 13:24:34 shinshina-development-app-00000001 systemd[1]: Started vsftpd FTP server.
Jul 22 13:24:33 shinshina-development-app-00000001 systemd[1]: Starting vsftpd FTP server...
-- Reboot --
Jul 22 13:13:48 shinshina-development-app-00000001 systemd[1]: Stopped vsftpd FTP server.
Jul 22 13:13:47 shinshina-development-app-00000001 systemd[1]: Stopping vsftpd FTP server...
Jun 22 23:17:45 shinshina-development-app-00000001 vsftpd[7261]: pam_unix(vsftpd:auth): authentication failure; logname= uid=0 euid=0 tty=ftp ruser=anonymous rhost=::ffff:35.187.98.101
Jun 22 23:17:45 shinshina-development-app-00000001 vsftpd[7261]: pam_unix(vsftpd:auth): check pass; user unknown
Jun 22 19:42:05 shinshina-development-app-00000001 vsftpd[122058]: pam_unix(vsftpd:auth): authentication failure; logname= uid=0 euid=0 tty=ftp ruser=admin rhost=::ffff:80.184.11.115
Jun 22 19:42:05 shinshina-development-app-00000001 vsftpd[122058]: pam_unix(vsftpd:auth): check pass; user unknown</pre>

<h3>vsftpd FTPサーバーのsystemdの設定ファイルを見るには</h3>

vsftpd FTPサーバーのsystemdの設定ファイルは「systemctl status vsftpd」で見れます。

設定ファイルを<a href="https://linux.perlclub.net/blog/20200113083613.html">catコマンド</a>で見てみましょう。

<pre>
cat /lib/systemd/system/vsftpd.service
</pre>

start、stop、reloadのコマンド定義などが確認できます。

<pre>
[Unit]
Description=vsftpd FTP server
After=network.target

[Service]
Type=simple
ExecStart=/usr/sbin/vsftpd /etc/vsftpd.conf
ExecReload=/bin/kill -HUP $MAINPID
ExecStartPre=-/bin/mkdir -p /var/run/vsftpd/empty

[Install]
WantedBy=multi-user.target
</pre>

<h3>vsftpd FTPサーバーの他の情報</h3>

<h4>vsftpd FTPサーバーをインストールするには</h4>

vsftpd FTPサーバーのインストールについては、以下の記事で解説しています。

<a href="/blog/20200416174004.html">vsftpdのインストール - FTPサーバー</a>

<h4>vsftpd FTPサーバーの設定ファイル</h4>

vsftpd FTPサーバーの設定ファイルについては、別の記事で解説します。
