<div class="bread">
  <ul itemscope itemtype="http://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop="name">Ubuntu</span>
      </a>
      <meta itemprop="position" content="1" />
    </li>
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200529085516.html">
        <span itemprop="name">パッケージ管理</span>
      </a>
      <meta itemprop="position" content="2" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>

<h2>sshパッケージのインストール - SSHサーバーとクライアント</h2>

SSHサーバーとSSLクライアントを使えるようにするにはsshパッケージをインストールします。

<pre>
# SSHサーバーとSSHクライアントのインストール
sudo apt install ssh
</pre>

これはOpenSSHと呼ばれるSSHクライアントとSSHサーバーを含むオープンソースのプロジェクトです。

SSHサーバーとクライアントが、デフォルトでインストールされていない場合に、インストールしてください。

SSHサーバー、SSHクライアントを個別にインストールすることもできます。

<pre>
# SSHクライアント
sudo apt install ssh openssh-client

# SSHサーバー
sudo apt install ssh openssh-server
</pre>

<h4>sshコマンドがインストールされたことの確認</h4>

sshコマンドがインストールされたことを確認しましょう。

<pre>
ssh --help
</pre>

<h4>sshサーバーがインストールされたことの確認</h4>

sshサーバーがインストールされたことを<a href="/blog/20200605104005.html">systemctl</a>コマンドで確認しましょう。<a href="/blog/20200531085516.html">sudo</a>で管理者権限で実行します。

<pre>
sudo systemctl status ssh
</pre>

activeと表示されれば、インストールが成功し、SSHサーバーが起動しています。

<pre>
● ssh.service - OpenBSD Secure Shell server
   Loaded: loaded (/lib/systemd/system/ssh.service; enabled; vendor preset: enab
   Active: active (running) since Fri 2020-06-05 10:27:15 JST; 2 days ago
</pre>
