<h2>SendGridを使う理由、SendGridの価格と申し込み方法</h2>

SendGridは、メール配信のためのクラウドサービスです。

<h3>SendGridを使う理由</h3>

SendGridを使う理由です。SendGridは、メール配信のためのクラウドサービスで、月に1万2000通を超えると、月額の料金がかかります。

無料でメール配信しようとする場合、postfixを使って、SMTPサーバーを立てて、sendmailを使って送信する方法が考えられます。

ただし、クラウドサーバーでポート25番のSMTPでメールを送れなかったり、メールの配信数が増えてきたり、ブラックリストに登録されたくない、という課題に突き当たります。

<h4>クラウドサーバーでポート25番のSMTPでメールを送れない</h4>

パブリックなクラウドサーバーの構成として、外部に対して、動的にIPアドレスを見せている場合、もし選択されたIPアドレスが、ブラックリストに登録されていたら、メールは到着しません。

このような予期しな不具合があるため、デフォルトで、25番ポートからのメール送信を禁止しているという場合があります。

このような場合は、SendGridとメールのWeb API、あるいは、postfixのリレー機能を使って、SengGridに接続するという方法があります。

既存のシステムから移行する場合は、リレー機能を使うと、アプリケーションの修正なしで、移行できるようです。

<h4>メールの通数が増えて処理に時間がかかる</h4>

メールの通数が増えてきて処理に時間がかかる場合は、SendGridを使うと、処理が速く終わるようです。

「メール送信にかかっていた時間を大幅に短縮できました。それまで8時間近くかかっていた宛先約16万件のメルマガ送信が、SendGridを利用するようになってからは3～4分で完了するようになりました。」

という体験談が書かれています。

<h4>ブラックリストに登録されたくない</h4>

もし、メール送信元のIPアドレスがブラックリストに登録されてしまった場合、メールが到達しなくなります。

SendGridを使うと、そのようなことが、もしSendGrid内で起こったとしても、SendGrid側で、解決してくれて、高い到達率を実現してくれるようです。

<h3>SendGridの価格</h3>

価格は以下のようになっています。

<a href="https://sendgrid.kke.co.jp/plan/">SendGrid価格(2020年5月21日現在)</a>

<a href="https://sendgrid.kke.co.jp/plan/"><img src="/images/sendgrid/sendgrid-price.png" width="100%"></a>

<h3>SendGridの申し込み</h3>

トップページから、メールアドレスを入力して申し込みます。

<a href="https://sendgrid.kke.co.jp">SendGrid申し込み</a>

<a href="https://sendgrid.kke.co.jp"><img src="/images/sendgrid/sendgrid-top.png" width="100%"></a>

<h3>Web APIやリレーメールを送るために必要なSendGridの情報</h3>

