<div class="bread">
  <ul itemscope itemtype="http://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop="name">Ubuntu</span>
      </a>
      <meta itemprop="position" content="1" />
    </li>
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200902120232.html">
        <span itemprop="name">ドメイン管理</span>
      </a>
      <meta itemprop="position" content="2" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>

<h2>メールアドレスの作成とDNSサーバーの設定</h2>

メールアドレスの作成とDNSサーバーの設定について解説します。

Webサービスで利用するためのメールアドレスをすでに、持っている場合は、この手順は必要ありません。

Webサービスと同時に新しいメールアドレスを作成する場合について解説します。

<h3>メールアドレス作成の一般的な手順</h3>

<h4>ドメインを取得する</h4>

ドメインを取得する方法は、ドメイン名の取得とDNSサーバーの設定の記事を参考にしてください。

<ul>
  <li><a href="/blog/20200807062918.html">ドメイン名の取得とDNSサーバーの設定</a></li>
</ul>

<h4>共有レンタルサーバーを借りる</h4>

メールアドレスを取得する場合の最も簡単な方法は、メールアドレス作成の機能がついたレンタルサーバーを借りることです。

またドメインを提供しているサービスが、メールアドレス作成サービスを持っている場合は、それを利用することもできます。

<h4>管理画面にログインする</h4>

管理画面にログインします。

<h4>共有レンタルサーバーのIPアドレスを調べる</h4>

共有レンタルサーバーのIPアドレスが掲載しているページに行って、IPアドレスをメモします。以下のようなIPアドレスをメモしてください。

<pre>
59.106.185.101
</pre>

<h3>DNSサーバーのメール設定</h3>

DNSサーバーのメールの設定を行います。

<h4>Aレコードの設定</h4>

「mail」というサブドメインでAレコードの設定をします。先ほど調べた共有レンタルサーバーのIPアドレスを設定します。

<table>
  <tr><th>mail</th><td>Aレコード</td><td>59.106.185.101</td></tr>
</table>

<h4>MXレコードの設定</h4>

MXレコードの設定を行います。これは「xxx@kimoto-system.co.jp」という表記をドメイン解決できるようにするための設定です。

<table>
  <tr><th>空</th><td>MXレコード</td><td>mail.kimoto-system.co.jp</td></tr>
</table>

<h3>共有レンタルサーバーのメール設定</h3>

共有レンタルサーバーでのメール設定です。

<h4>ドメイン名の追加</h4>

ドメイン名の追加の項目からドメイン名「kimoto-system.co.jp」を追加します。

<h4>メールアドレスの追加</h4>

メールアドレスの追加から、新しいメールアドレスを作成します。

<pre>
# 個人用メールアドレス
kimoto_test@kimoto-system.co.jp

# サポート用メールアドレス
support@kimoto-system.co.jp
</pre>

<h3>メールクライアントの設定</h3>

共有レンタルサーバー側での設定が終わったらメールクライアントで、メールの送受信をできるようにします。

検索エンジンを使って「メールクライアント」と検索して、お気に入りのメールクライアントをダウンロードして、設定してください。

メールの送受信ができるようになれば、設定完了です。
