<h2>DNSサーバーの設定 - ドメイン名とIPアドレスを対応させる</h2>

DNSサーバーの設定について解説します。ドメイン名とIPアドレスを対応させることによって、Webサイトをインターネットで公開できます。

DNSについての基本的な考え方と設定方法について書きます。

<h3>DNSとは</h3>

DNSとは、ドメインネームサービスのことで、ドメイン名(例: kimoto-system.co.jp)とIPアドレス(59.106.185.188)を対応させる仕組みのことです。

お名前.comなどの、ドメイン名取得サービスで取得することができます。

<ul>
  <li><a href="//ck.jp.ap.valuecommerce.com/servlet/referral?sid=3513971&pid=886673689" rel="nofollow"><img src="//ad.jp.ap.valuecommerce.com/servlet/gifbanner?sid=3513971&pid=886673689" height="1" width="1" border="0">お名前.com</a></a>
</ul>

価格は、.comなどの一般的なドメインで、年間で1000円程度。会社用のco.jpドメインで、年間2000円程度を見積もっておくとよいでしょう。

DNSの設定は以下のページで解説されています。

<ul>
  <li><a href="https://www.onamae.com/guide/p/70">ネームサーバー/DNSについて</a></li>
</ul>

<h3>IPアドレスの調べ方</h3>

一方で、サーバーには、IPアドレスが存在しています。正確に書くと、サーバーに接続されているNIC(ネットワークインターフェースカード)に、IPアドレスが設定されてます。

ネットワークは仮想化されているかもしれませんが、Webアプリケーションを作成するエンジニアから見た場合は、気にする必要はありません。VPSサービスやクラウドサービスのサーバー情報やネットワーク設定のページに記載されているIPアドレスをメモしておきましょう。

パブリッククラウドでないのであればipコマンドやifconfigコマンドを使うと、サーバーのIPアドレスを見ることができます。

ユーザーは、Webサイトに、ドメイン名でアクセスしますね。

<h3>メールアドレスの設定</h3>

メールを利用する場合は、メールアドレスに関する設定も行う必要があります。メール用のサブドメインのAレコードとMXレコードを設定する必要があります。

<h4>メール用のサブドメインのAレコードの設定</h4>

メール用のドメイン名のAレコードを設定します。

メール用のドメイン(例: mail.kimoto-system.co.jp)とIPアドレス(59.106.185.188)

<h4>MXレコードの設定</h4>

メールアドレスの形式(ユーザー名@kimoto-system.co.jp)が認識されるようにMXレコードを設定します。

<ul>
  <li><a href="https://help.onamae.com/answer/7889">【ドメイン】MXレコードの設定方法は？</a></li>
</ul>

途中。
