<h2>UbuntuでC言語/C++開発環境構築</h2>

UbuntuでC言語/C++開発環境構築を構築する手順です。

<h3>Ubuntuを利用できるようにする</h3>

Ubuntuを利用できるようにしましょう。

<ul>
  <li><a href="/blog/20200509155552.html">Ubuntuの利用方法</a></li>
</ul>

コマンドを実行できるコンソール画面を表示するところまで進んで、初期ユーザーでログインするところまで進みましょう。

VPSやクラウドサーバーを使った個別の手順は以下で公開しています。

<ul>
  <li><a href="/blog/20200816052048.html">さくらVPS+Ubuntu 18+PerlでWebシステム開発環境を行う手順のまとめ</a></li>
</ul>

<h3>ユーザーの作成</h3>

次は、コンソール画面でユーザーを作成します。Webアプリケーションの実行ユーザー(myapp)を作成するのと、自分自身のユーザー(たとえばkimoto)の二つを作成してみましょう。

ユーザー追加「-m」オプションあり、パスワードの設定、<a href="/blog/20200406174004.html">sudo</a>グループへ追加の手順を行いましょう。

<ul>
  <li><a href="/blog/20200511173052.html">ユーザーの追加 - useraddコマンド</a></li>
</ul>

<h3>ファイアーウォールの設定</h3>

ホスティングサービスが用意するネットーワークのファイアーウォール設定で以下のポートを開いてください。またオンプレミスでサーバーを構築している場合は<a href="/blog/20200907132441.html">ufwコマンド</a>を使って、以下のポートを開いてください。

<table>
  <tr><td>SSH</td><td><a href="/blog/20200715102902.html">SSHで利用するポート</a>(デフォルトの22番ポートは危険)</td>
</table>

<h3>SSHクライアントの利用</h3>

パソコン上からSSHでサーバーへの接続して、コマンド実行とファイル編集ができるようにしましょう。

<h4>SSHクライアントでコマンド実行</h4>

SSHクライアントでSSHサーバーに接続してコマンド実行するツールに、Windowsの場合はTeraTermがあります。

<ul>
  <li><a href="https://linux.perlzemi.com/blog/20200525082545.html">Linuxサーバーにコマンドを送る - TeraTermのインストールと使い方</a></li>
</ul>

<a href="https://www.atmarkit.co.jp/ait/articles/1006/25/news095.html">PuTTY</a>などの他のWindowsで動くSSHクライアントもありますので、お好みで。

Macの場合は、ターミナルからsshコマンドが使えます。

<h4>SCPを使ってサーバー上のファイルを編集</h4>

SCPというSSH上に構築されるプロトコルを使うとサーバー上のファイルを編集できます。

SCPクライアントとして、Windowsの場合はWinSCPがあります。

<ul>
  <li><a href="https://linux.perlzemi.com/blog/20200520082545.html">Linuxサーバー上のファイルを編集 - WinSCPのインストールと使い方</a></li>
</ul>

MacにもWindowsのWinSCPの代わりになるようなソフトウェアがあるので、インストールしましょう。

<h3>SSHサーバーの設定</h3>

<ul>
  <li><a href="/blog/20200715102902.html">SSHポートを変更する - デフォルトの22番ポートはセキュリティ的に危険が高い</a></li>
</ul>

<h3>タイムゾーンの設定</h3>

タイムゾーンを「Asia/Tokyo」に設定しましょう。

<ul>
  <li><a href="/blog/20200507174004.html">タイムゾーンの確認と設定 - timedatectlコマンド</a></li>
</ul>

<h3>パッケージのインストール</h3>

Ubuntuのパッケージ管理ツールはaptです。パッケージのインストールがうまくいかない場合があるので、最初にaptを最新のバージョンにしましょう。

<ul>
  <li><a href="/blog/20200524135533.html">aptのアップデート - apt update</a></li>
</ul>

まずは、ひとつのマシンの中に、Webサーバー、アプリケーションサーバー、メール送信サーバー、DBサーバーをすべて構築しましょう。

<h4>コンパイラ・リンカ</h4>

C言語のコンパイルのためにgcc、C++のコンパイルのためにg++、コンパイルの依存関係を解決できるツールであるmakeをインストールしましょう。

<ul>
  <li><a href="/blog/20200514084132.html">makeのインストール</a></li>
  <li><a href="/blog/20200504174004.html">gccのインストール</a></li>
  <li><a href="/blog/20200503174004.html">g++のインストール</a></li>
</ul>

<h4>リポジトリ管理</h4>

C言語/C++のソースコードを管理できるように<a href="https://git.perlzemi.com/>Git</a>をインストールしましょう。

<ul>
  <li><a href="/blog/20200607082859.html">gitのインストール - Git分散リポジトリ管理システム</a></li>
</ul>

お疲れ様でした。
