<h2>MojoliciousによるWebアプリケーションのデプロイ</h2>

MojoliciousによるWebアプリケーションのデプロイ方法の解説です。<a href="https://mojolicious.perlzemi.com/">Mojolicious</a>は、リアルタイムWebに対応したスケーラブルな<a href="https://tutorial.perlzemi.com/">Perl</a>のWebフレームワークです。

<h3>Mojoliciousのインストール</h3>

Mojoliciousをインストールしましょう。<a href="/blog/20200413174004.html">ユーザーPerlとcpanmのインストール</a>が完了している必要があります。

<pre>
cpanm Mojolicious
</pre>

<h3>小さなWebアプリケーションの作成</h3>

<a href="https://mojolicious.org/">Mojolicious公式サイト</a>にあるMojoliciousのサンプルを作成します。

ファイル名は「webapp.pl」とします。

<pre>
use Mojolicious::Lite;

get '/' => {text => 'I ♥ Mojolicious!'};

app->start;
</pre>

<h3>Mojoliciousの開発サーバーを起動</h3>

<a href="https://mojolicious.perlzemi.com/blog/20120406133367.html">morbo</a>コマンドでMojoliciousの開発サーバーを起動します。

<pre>
morbo webapp.pl
</pre>

ポート番号が3000番で、Webアプリケーションが起動します。

<pre>
Web application available at http://127.0.0.1:3000
</pre>

「127.0.0.1」の部分はループバックアドレスですので、サーバーのIPアドレスに変更してアクセスしてみましょう。

サーバーのIPアドレスが「132.165.23.8」の場合は、以下でアクセスできます。

<pre>
http://132.165.23.8:3000
</pre>

アクセスできない場合は、ファイアーウォールで3000番ポートが許可されているか確認しましょう。

成功すると画面に「I ♥ Mojolicious!」と表示されます。

<h3>Mojoliciousの本番サーバーを起動</h3>

<a href="https://mojolicious.perlzemi.com/blog/20110122130016.html">hypnotoad</a>コマンドでMojoliciousの本番サーバーを起動しましょう。hypnotoadは、Mojoliciousの本番用サーバーで、プリフォーク+非同期I/Oの実装を持ち、パフォーマンスで最適化されています。

<pre>
hypnotoad webapp.pl
</pre>

<pre>
Web application available at http://127.0.0.1:8080
</pre>

ポート番号8080は閉じられているので、確認のためには、コマンドラインでcurlコマンドを使用しましょう。「I ? Mojolicious!」と表示されれば、本番サーバーが正しく起動しています。

<pre>
curl http://127.0.0.1:8080
</pre>

ポート番号を変更したい場合は、設定ファイルのlistenオプションで変更できます。設定ファイル名は「webapp.conf」とします。

リバースプロキシに接続するために少なくとも設定しておかなければならない項目は、以下です。

<pre>
# webapp.conf
{hypnotoad => {proxy => 1}};
</pre>

設定ファイルの記述については、以下が詳しいです。

<ul>
  <li><a href="https://mojodoc.perlzemi.com/Mojo::Server::Hypnotoad.html">Mojo::Server::Hypnotoad - プロダクション環境のWebサーバー</a></li>
</ul>

<h3>リバースプキシによる接続</h3>

<a href="/blog/20200526151435.html">Apache</a>からリバースプロキシから接続して、インターネット上にWebアプリケーションを公開する方法については以下を参考にしてください。

<ul>
  <li><a href="/blog/20200306174004.html">WebサイトをバーチャルホストとリバースプロキシでApacheから接続する</a></li>
</ul>

