<h2>Apacheの設定ファイルが正しかテストする</h2>

Apacheの設定ファイルが正しかテストするにはapachectlコマンドの「-t」オプションを使用します。

<pre>
apachectl -t
</pre>

Aapcheの設定ファイルを間違ったまま<a href="/blog/20200605104005.html">systemctl</a>コマンドで、<a href="/blog/20200519084454.html">Apacheを再起動</a>してしまうと、Apacheが停止します。Apacheが停止すると、Apache上で動いているすべてのWebサイト・Webサービスがダウンします。

これは、起こりやすいミスで、多くのエンジニアが経験するミスです。Webサイトが全部停止して、焦った方も多いのではないでしょうか。

Apacheの再起動を行う前は、Apacheの設定ファイルが正しいかテストしておく習慣をつけておくのがお勧めです。また、元に戻せるよう設定ファイルのバックアップを行っておくことは大切です。

Ubuntuの場合は、細かく設定ファイルが分かれているので、<a href="https://git.perlzemi.com/">Git</a>を使って管理できると便利でしょう。
