<h2>グループの一覧を表示する 「/etc/group」ファイル</h2>

<b>グループの一覧</b>は、「/etc/group」ファイルに記述されています。<a href="/blog/20200113083613.html">cat</a>コマンドで、「/etc/group」ファイルを表示しましょう。<a href="/blog/20200118092236.html">sudoコマンド</a>を使ってroot権限で実行します。

<pre>
sudo cat /etc/group
</pre>

<h3>グループに対するその他の操作</h3>

グループを追加する方法は、以下の記事で解説しています。

<ul>
  <li><a href="/blog/20200405174004.html">groupaddコマンド - グループを追加する</a></li>
</ul>

グループを削除する方法は、以下の記事で解説しています。

<ul>
  <li><a href="/blog/20200404174004.html">groupdelコマンド - グループを削除する</a></li>
</ul>
