<div class="bread">
  <ul itemscope itemtype="http://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop="name">Ubuntu</span>
      </a>
      <meta itemprop="position" content="1" />
    </li>
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200723101434.html">
        <span itemprop="name">ユーザー管理</span>
      </a>
      <meta itemprop="position" content="2" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>

<h2>useraddコマンド - ユーザーの追加</h2>

<b>useradd</b>コマンドを使用すると、ユーザーを追加できます。

ユーザーを追加するにはroot権限を持っている必要があります。sudoを使って、root権限で、作業しましょう。sudoを使う場合は、ルートパスワードを聞かれますので、ルートパスワードを入力してください。

ユーザーを追加するには<b>useradd</b>コマンドを使用します。ユーザーディレクトリを作りたい場合は「-m」オプションを使用します。

最初にWebアプリケーション実行用のユーザーも「myapp」という名前で作成しておきます。これは、本番環境で、Webアプリケーションを実行し、バッチプログラムを実行するユーザーを想定しています。

<pre>
# ユーザーの追加(ホームディレクトリあり)
sudo useradd -m myapp

# ユーザーの追加(ホームディレクトリなし)
sudo useradd myapp
</pre>

開発者ユーザーがいる場合は、そのユーザーも作成しておくとよいです。パスワードの設定などの手順は、myappユーザーと同じです。

<pre>
# ユーザーの追加(ホームディレクトリあり)
sudo useradd -m kimoto
</pre>

<h4>パスワードの設定</h4>

ユーザーを追加したらパスワードも設定します。<a href="/blog/20200510173052.html">passwdコマンド</a>を使用します。

<pre>
sudo passwd myapp
</pre>

パスワードの入力と確認のための再入力を求められるので設定します。

<h4>sudoグループに登録</h4>

このユーザーをroot権限を持つsudoユーザーとして登録したい場合は<a href="/blog/20200330174004.html">gpasswd</a>コマンドを使って、sudoグループに追加します。

<pre>
sudo gpasswd -a myapp sudo
</pre>

<h4>ユーザーを間違って追加したので削除したい</h4>

ユーザーを間違って追加したので削除したい場合は「userdel」を使います。

<pre>
sudo userdel myapp
</pre>

ホームディレクトリの内容やメールは、削除されないので安心してください。

このユーザーがプロセスを使用していた場合は、削除ができません。

そのユーザーがプロセスを使っていない時間に行うか、プロセスを確認して、killしてよいものであれば、killする必要があります。

<pre>
# プロセスの確認
ps -ef
</pre>

<h3>ユーザー管理のその他の操作</h3>

ユーザー削除。

<ul>
  <li><a href="/blog/20200402174004.html">ユーザーを削除する - userdelコマンド</a></li>
</ul>

ユーザー一覧。

<ul>
  <li><a href="/blog/20200401174004.html">ユーザーの一覧を表示する 「/etc/passwd」ファイル</a></li>
</ul>
