<h2>apache2のインストール - WebサーバーであるApacheのバージョン2系</h2>

WebサーバーであるApacheをaptコマンドを使って、インストールしましょう。現在のApacheのバージョンは2系です(2020年5月16日現在)。

<pre>
sudo apt install apache2
</pre>

Apacheは、Webサーバーとして、実績があり、広く利用されており、ドキュメントが豊富です。

初心者が最初に覚えるWebサーバーとしてピッタリです。

静的ファイルを高速に配信したい、速いリバースプロキシが欲しい、という要望が最初からあるときは、nginx(エンジンエックス)の採用も検討してみてください。

<h4>Apacheがインストールされたことの確認</h4>

Apacheがインストールされたことを確認しましょう。

<pre>
apache2 -v
</pre>

以下のようにApacheのバージョンが表示されます。

<pre>
Server version: Apache/2.4.29 (Ubuntu)
Server built:   2020-03-13T12:26:16
</pre>
