<h2>さくらVPS+Ubuntu 18+PerlでWebシステム開発 環境構築</h2>

さくらVPS+Ubuntu 18+PerlでWebシステム開発環境を行う手順のまとめ。

<h3>さくらVPSの申し込み</h3>

さくらVPSを申し込みます。

<a href="https://vps.sakura.ad.jp/specification/">さくらVPS 料金・仕様一覧</a>

<h3>さくらVPSへUbuntu 18をインストール</h3>

さくらVPSへUbuntu 18をインストールしましょう。インストール手順は、2020年8月16日に試したものです。

<a href="https://secure.sakura.ad.jp/vps/#/login">さくらVPSコントールパネル</a>からログイン。

右上、サーバー新規追加をクリック。

ゾーンを選択。石狩 第1ゾーン。東京 第2ゾーン。大阪 第3ゾーン。

コストが安く、サービスを行う場所に近いゾーンを選ぶのが良いでしょう。

プラン選択。512, 1G, 2Gの中からまずは選択しましょう。ストレージは100G程度あったほうが、後ほど困らないと経験的に感じますが、最初に始めるなら、一番コストの小さなプランもお勧めです。

ストレージを増やしたい場合は、ストレージ変更オプションで、ストレージを増やしましょう。料金は初回のみです。ストレージ性能が下がるリスクについて書かれているので、速度をとるか容量をとるかで決めましょう。

次へ進む。

サーバーの名前は、任意項目なので、そのまま。

サーバーの説明も、任意項目なので、そのまま。

インストールするOSは、Ubuntu 18.04amd64(64bit)です。

管理ユーザ名は固定で「ubuntu」となっています。

「新しい管理ユーザのパスワード」と「新しい管理ユーザのパスワード（確認のため再入力）」を入力します。これは、実質的にはrootパスワードになります。

スタートアップスクリプトは、利用しません。

パケットフィルタの設定は、デフォルトでSSHの22番ポートのみとなっています。これは、後で変更します。

公開鍵の登録は、登録しないを選択します。

次へ進む。

支払いパターンを選択します。月払いか年間一括払いを選択できます。

支払い方法を選択します。クレジットカード、銀行振込、請求書払いを選択できます。

クーポンは、空白にしておきます。クーポンがあって、使いたい場合は入力してください。

次へ進む。

お申し込み確認の画面になりますので、同意するを選択して、申し込みをクリック。

これで、さくらVPSで、Ubuntu 18を使えるようになります。

<h3>パケットフィルタリング</h3>

Webシステム開発のために必要なポートを開放しましょう。この手順は、2020年8月16日に試したものです。

さくらVPSログイン。

左サイドバー、サーバーをクリック。

サーバー一覧から、作成したサーバーをクリック。

タブの一番右側の「パケットフィルタ」をクリック。

「パケットフィルタ設定へ」をクリック。

「解放ポートを追加する」をクリック。

<h4>HTTPとHTTPSのポートを開放</h4>

「フィルタの用途」で「Web」をクリック。HTTPの80番ポートと、HTTPSの443番ポートが解放されます。

「設定を保存する」をクリック。設定が完了しました。

同じ作業を繰り返します。

「パケットフィルタ」「パケットフィルタ設定へ」

<h4>SSHのポートを開放</h4>

<a href="/blog/20200715102902.html">SSHのデフォルトの22番ポートは非常にセキュリティリスクのあるポート</a>です。

SSH用のあなた独自のポートを追加してください。ウェルナウンポートと、Webアプリケーションで使うポートを避けて選びます。

自分で選べないよーという方は「50000」番台のポートを一つ選びましょう。例を書いておきます。

<ul>
  <li>50123</li>
  <li>58126</li>
  <li>57265</li>
</ul>

「開放ポートを追加する」をクリック。

「フィルタの用途」で「カスタム」をクリック。

プロトコルは「TCP」を選択。

「ポート番号」に上記で選択したSSH用のポート番号を入力してください。

「設定を保存する」をクリック。設定が完了しました。

同じ作業を繰り返します。

「パケットフィルタ」「パケットフィルタ設定へ」

<h4>Mojoliciousアプリケーション用のポートを開放</h4>

Mojoliciousアプリケーション用のポートを開放しておきましょう。<a href="https://mojolicious.perlzemi.com/">Mojolicious</a>は、PerlのWebフレームワークのひとつで、リアルタイムWebとクラウドサーバーに対応できます。

Mojolicious開発サーバー用のポートは

<pre>
3000
</pre>

です。

「開放ポートを追加する」をクリック。

「フィルタの用途」で「カスタム」をクリック。

プロトコルは「TCP」を選択。

「ポート番号」に「3000」を入力してください。

「設定を保存する」をクリック。設定が完了しました。

開発者が複数いる場合は、必要に応じて、パケットフィルタから別のポートを開放しましょう(3001番、3002番など)。

(ここまで完了。)

<h3>Webコンソールからの作業</h3>

Webコンソールからの作業について解説します。

まずVPSサービスを申し込んだ後のサーバーの操作は、まずWebコンソールからのコマンドで始めます。

この記事では、Webコンソールは、Webブラウザから利用できるCUI端末のことです。

最低限やっておかなければならないことは、Webアプリケーション用のユーザーの作成です。

Webアプリケーションのユーザーの作成の作業が終われば、SSHクライアントと呼ばれるツールを使って、WindowsやMacOSからUbuntuサーバーにアクセスできるようになります。

Webコンソールからすべてのコマンド実行を行えますが、効率を考えた場合は、SSHクライアントとSSH上でサーバー上のファイルを編集できるソフトウェアをWindowsやMacOS上にインストールして使うのが、現実的です。

<h4>Webコンソールを表示する</h4>

Webコンソールを表示しましょう。

さくらVPSへログインします。

対象のサーバーをクリックします。

サイト上部「コンソール」をクリックします。

「シリアルコンソール(β版)」をクリックします。シリアルコンソールが起動します。シリアルコンソールは、Webコンソールの一つです。シリアルコンソールを使ってコマンド実行を行っていきます。

シリアルコンソールが起動したら、一度Enterキーを押してください。

次のようにloginユーザーを入力できるようになります。

<pre>
tk2-250-35845 login:
</pre>

「ubuntu」と入力して、Enterを押してください。

<pre>
ubuntu
</pre>

以下のようにパスワードを聞かれます。

<pre>
Password:
</pre>

初期パスワードを入力して、Enterを押してください。ログインできれば成功です。以下のように表示されます。

<pre>
ubuntu@tk2-250-35845:~$
</pre>

この状態になれば、<a href="https://linux.perlzemi.com/blog/20200211081227.html">Linuxのコマンド</a>が実行できます。

<h3>Webアプリケーション用のユーザーの追加</h3>

Webアプリケーション用のユーザー「myapp」を追加しましょう。この名前は任意で構いませんが、これ以降の手順では「myapp」を使って解説します。

<h4>ユーザーの追加</h4>

ユーザーを追加するには<a href="/blog/20200511173052.html">useradd</a>コマンドを使用します。「-m」オプションで、ホームディレクトリが作られます。

<a href="/blog/20200531085516.html">sudo</a>コマンドは、管理者権限で実行するためのコマンドだとここでは想定してください。

<pre>
# ユーザーの追加(ホームディレクトリあり)
sudo useradd -m myapp
</pre>

sudoコマンドを実行するとパスワードを聞かれますので、初期パスワードを入力してください。

<h4>パスワードの設定</h4>

Webアプリケーション用のユーザー「myapp」のパスワードを設定しましょう。「myapp」はsudoグループに追加して、管理者権限を持たせますので、安全な長さと複雑さのパスワードにしておくことを推奨します。

パスワードは<a href="/blog/20200510173052.html">passwd</a>コマンドで設定できます。

<pre>
sudo passwd myapp
</pre>

パスワードの入力と確認のための再入力を求められるので設定します。

<h4>sudoグループに登録</h4>

アプリケーションユーザー「myapp」を<a href="/blog/20200330174004.html">gpasswd</a>コマンドを使って、sudoグループに登録します。「myapp」ユーザーに管理者権限を与えます。

<pre>
sudo gpasswd -a myapp sudo
</pre>

<h3>SSHクライアントの利用</h3>

パソコン上からSSHでサーバーへの接続して、コマンド実行とファイル編集ができるようにしましょう。

<h4>SSHクライアントでコマンド実行</h4>

SSHクライアントでSSHサーバーに接続してコマンド実行するツールに、Windowsの場合はTeraTermがあります。

<ul>
  <li><a href="https://linux.perlzemi.com/blog/20200525082545.html">Linuxサーバーにコマンドを送る - TeraTermのインストールと使い方</a></li>
</ul>

<a href="https://www.atmarkit.co.jp/ait/articles/1006/25/news095.html">PuTTY</a>などの他のWindowsで動くSSHクライアントもありますので、お好みで。

Macの場合は、ターミナルからsshコマンドが使えます。

<h4>SCPを使ってサーバー上のファイルを編集</h4>

SCPというSSH上に構築されるプロトコルを使うとサーバー上のファイルを編集できます。

SCPクライアントとして、Windowsの場合はWinSCPがあります。

<ul>
  <li><a href="https://linux.perlzemi.com/blog/20200520082545.html">Linuxサーバー上のファイルを編集 - WinSCPのインストールと使い方</a></li>
</ul>

MacにもWindowsのWinSCPの代わりになるようなソフトウェアがあるので、インストールしましょう。

<h3>SSHサーバーの設定</h3>

サーバーのセキュリティを高めるために、先ほど、さくらVPSのパケットフィルタで追加で解放したSSHのポートに変更しましょう。

<ul>
  <li><a href="/blog/20200715102902.html">SSHポートを変更する - デフォルトの22番ポートはセキュリティ的に危険が高い</a></li>
</ul>
