<div class="bread">
  <ul itemscope itemtype="http://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop="name">Ubuntu</span>
      </a>
      <meta itemprop="position" content="1" />
    </li>
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200529085516.html">
        <span itemprop="name">パッケージ管理</span>
      </a>
      <meta itemprop="position" content="2" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>
<h2>vsftpdのインストール - FTPサーバー</h2>

FTPサーバーを使える用にするにはvsftpdをインストールします。

<pre>
sudo apt install -y vsftpd
</pre>

FTPは、ファイル転送プロトコルの略です。クライアント・サーバーで、ファイルを交換するためのプロトコルです。

FTPは、暗号化はされません。暗号化が必要な機密な情報は、SSH上に構築されたSFTPを使って、ファイル転送を行いましょう。

<h3>vsftpdがインストールされたことの確認</h3>

vsftpdがインストールされたことを確認するためにsystemctlコマンドのstatusを使いましょう。

<pre>
systemctl status vsftpd
</pre>
