<div class="bread">
  <ul itemscope itemtype="http://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop="name">Ubuntu</span>
      </a>
      <meta itemprop="position" content="1" />
    </li>
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200529085516.html">
        <span itemprop="name">パッケージ管理</span>
      </a>
      <meta itemprop="position" content="2" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>
<h2>imagemagickのインストール - ImageMagickのconvertコマンド等</h2>

ImageMagickのconvertコマンド等を使えるようにimagemagickパッケージをaptコマンドを使って、インストールします。sudoを使って管理者権限で実行します。

<pre>
sudo apt install -y imagemagick
</pre>

<h4>ImageMagickのコマンドを実行</h4>

ImageMagickのコマンドを使えるようになりました。

<pre>
convert --help
</pre>
