<div class="bread">
  <ul itemscope itemtype="http://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop="name">Ubuntu</span>
      </a>
      <meta itemprop="position" content="1" />
    </li>
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200529085516.html">
        <span itemprop="name">パッケージ管理</span>
      </a>
      <meta itemprop="position" content="2" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>
<h2>mariadb-clientのインストール - MariaDBデータベースクライアント</h2>

<a href="https://mariadb.perlzemi.com/">MariaDBデータベース</a>のクライアントアプリケーションである「mysql」を使えるように「mariadb-client」をインストールしましょう。

<pre>
sudo apt install -y mariadb-client
</pre>

<h4>mysqlコマンドがインストールされたことの確認</h4>

MariaDBのmysqlコマンドがインストールされたことを確認しましょう。

<pre>
mysql --version
</pre>

以下のようにバージョン情報が表示されるとインストールされています。

<pre>
mysql  Ver 15.1 Distrib 10.1.44-MariaDB, for debian-linux-gnu (x86_64) using readline 5.2
</pre>
