<h2>groupdelコマンド - グループを削除する</h2>

<b>groupdelコマンド</b>でグループを削除できます。<a href="/blog/20200118092236.html">sudo</a>でroot権限で実行します。

<pre>
sudo groupdel グループ名
</pre>

以下は、アプリケーション用のグループ「myapp」を削除するサンプルです。

<pre>
sudo groupdel myapp
</pre>

<h3>グループに対するその他の操作</h3>

グループの一覧を表示する方法は以下の記事で解説しています。

<ul>
  <li><a href="/blog/20200403174004.html">グループの一覧を表示する 「/etc/group」ファイル</a></li>
</ul>

グループを追加する方法は、以下の記事で解説しています。

<ul>
  <li><a href="/blog/20200405174004.html">groupaddコマンド - グループを追加する</a></li>
</ul>

