<h2>Webシステム開発環境を構築する手順</h2>

Webシステム開発環境構築の手順をここに書いていきます。

<h3>Ubuntuを利用できるようにする</h3>

まず最初に、Ubuntuを利用できるようにしましょう。

VPSと呼ばれるサービスが価格が安く始めやすいです。

Windows 10であれば、WSLを使うことで、手元のPCでUbuntuを試すことができます。

<ul>
  <li><a href="/blog/20200509155552.html">Ubuntuの利用方法</a></li>
</ul>

コマンドを実行できるコンソール画面を表示するところまで進んで、初期ユーザーでログインするところまで進めましたか。

<h3>ユーザーの作成</h3>

次は、コンソール画面でユーザーを作成します。Webアプリケーションの実行ユーザー(たとえばwebapp)を作成するのと、自分自身のユーザー(たとえばkimoto)の二つを作成してみましょう。

ユーザー追加「-m」オプションあり、パスワードの設定、sudoグループへ追加の手順を行いましょう。

<ul>
  <li><a href="/blog/20200511173052.html">ユーザーの追加 - useraddコマンド</a></li>
</ul>

<h3>タイムゾーンの設定</h3>

タイムゾーンを「Asia/Tokyo」に設定しましょう。

<ul>
  <li><a href="/blog/20200507174004.html">タイムゾーンの確認と設定 - timedatectlコマンド</a></li>
</ul>
