<h2>redis-serverのインストールする - Redisサーバー 揮発性データの高速保存</h2>

Redisサーバーをインストールするにはredis-serverパッケージをインストールします。

<pre>
sudo apt install redis-server
</pre>

<h4>Redisサーバーがインストールされたことの確認</h4>

Redisサーバーがインストールされたことをsystemctlのstatusコマンドで確認してみましょう。

<pre>
sudo systemctl status redis-server
</pre>

<h4>Redisサーバーの用途</h4>

Redisサーバーは、揮発性データを高速に保存できます。

揮発性データというのは、一時的で消去が予定されているデータです。

セッション情報は、一定期間で消しますし、もし消えたとしても、ユーザーにログイン画面からやりなおしてもらうだけです。セッション情報は、揮発性のデータといえます。
またセッションは、HTTPリクエストのたびに取得しないといけないので、リレーショナルデータベースよりもRedisが、パフォーマンスがよいです。

Redisは、Pub/Subと呼ばれるpush通知の仕組みを持っているので、リアルタイムチャット、リアルタイム更新、という分野でも使われているようです。

Redisは、Web APIを持っているので、Webフレームワークがノンブロッキング対応している場合は、ノンブロッキングのHTTPリクエストでRedisにアクセスできます。

