<h2>g++のインストール</h2>

g++のインストール方法を解説します。aptコマンドを使って、g++をインストールします。sudoを使って管理者権限で実行します。

<pre>
sudo apt install g++
</pre>

<h3>g++の主な用途</h3>

g++の用途は、C++コンパイルです。C++のソースファイルをコンパイルして、オブジェクトファイルを作成できます。

オブジェクトファイルというのは、一つまたは複数のC言語ファイルに対応する処理を含む機械語になったファイルです。

g++はリンカも含んでいます。リンカ機能で、オブジェクトファイルを結合して、実行ファイル、静的ライブラリ、共有ライブラリを作成できます。

g++は、<a href="https://tutorial.perlzemi.com/blog/20100504127089.html">CPAN</a>からC++ソースファイルを含んでいる<a href="https://tutorial.perlzemi.com/blog/20100809127859.html">XSモジュール</a>をインストールするときに必要です。

<h3>C言語のコンパイラ gcc</h3>

PerlのXSモジュールでは、C言語が使われているので、C言語のコンパイラであるgccもインストールしておきましょう。

<ul>
  <li><a href="/blog/20200504174004.html">gccのインストール</a></li>
</ul>
