<h2>WebフレームワークMojoliciousのインストールとWebアプリケーションの実行方法</h2>

WebフレームワークMojoliciousのインストールとWebアプリケーションの実行方法について解説します。Ubuntuサーバー構築入門では、Perl Webシステム開発を行うための、環境構築を行う上で、最低限必要な知識を公開します。

<h3>Webフレームワーク Mojoliciousをインストールする前提</h3>

Webフレームワーク<a href="https://mojolicious.perlzemi.com/">Mojolicious</a>をインストールする前提として、ユーザーPerlとcpanmがインストールされている必要があります。

<ul>
  <li><a href="/blog/20200413174004.html">ユーザーPerlとcpanmのインストール</a></li>
</ul>

<h3>Webフレームワーク Mojoliciousのインストール</h3>

Webフレームワーク Mojoliciousをインストールしましょう。

<pre>
cpanm Mojolicious
</pre>

Mojoliciousがインストールされたことの確認しましょう。エラーが起こらなければ大丈夫です。

<pre>
perl -e 'use Mojolicious'
</pre>

<h3>一番小さなMojoliciousアプリケーション</h3>

次のMojoliciousのプログラムを「myapp.pl」という名前で保存しましょう。

<pre>
use Mojolicious::Lite;
get '/' => {text => 'Hello World!'};
app->start;
</pre>

<h3>開発環境用でWebアプリケーションを起動</h3>

<a href="https://mojolicious.perlzemi.com/blog/20120406133367.html">morbo</a>(モーボ)コマンドを使うと、Webアプリケーションが開発環境で起動します。

<pre>
morbo myapp.pl
</pre>

3000番ポートでWebアプリケーションが起動します。

<pre>
Web application available at http://127.0.0.1:3000
</pre>

127.0.0.1は、ローカルサーバーのアドレスです。この部分を、あなたのサーバーのIPアドレスに変えてブラウザからアクセスしてみましょう。

VPSやクラウドサーバで、3000番ポートが開いていない場合は、アクセスできないので、3000番ポートを許可してください。

以下の例は、サーバーのIPアドレスが「59.105.185.197」の例です。

<pre>
http://59.105.185.197:3000
</pre>

画面に「Hello World!」と表示されれば、成功です。

<h3>本番環境用でWebアプリケーションを起動</h3>

次に本番環境用で、Webアプリケーションを起動してみましょう。<a href="https://mojolicious.perlzemi.com/blog/20110122130016.html">hypnotoad</a>(ハイフノトード)コマンドを使うと、Webアプリケーションが本番環境用で起動します。

<pre>
hypnotoad myapp.pl
</pre>

8080番ポートでWebアプリケーションが起動します。

<pre>
Web application available at http://127.0.0.1:8080
</pre>

再起動するときは、もう一度実行します。

<pre>
hypnotoad myapp.pl
</pre>

停止するときは「--stop」オプションを使用します。

<pre>
hypnotoad --stop myapp.pl
</pre>

<h3>Mojoliciousアプリをリバースプロキシから接続する</h3>

本番環境では、hypnotoadで起動したWebアプリケーションを、<a href="/blog/20200526151435.html">Apache</a>などのWebサーバーからリバースプロキシで接続します。

この手順については、以下を参考にしてください。

<ul>
  <li><a href="/blog/20200306174004.html">WebアプリケーションをバーチャルホストとリバースプロキシでApacheから接続する</a></li>
</ul>
