<div class="bread">
  <ul itemscope itemtype="http://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop="name">Ubuntu</span>
      </a>
      <meta itemprop="position" content="1" />
    </li>
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200529085516.html">
        <span itemprop="name">パッケージ管理</span>
      </a>
      <meta itemprop="position" content="2" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>
<h2>libpq-devのインストール - PostgreSQLクライアントのヘッダとライブラリ</h2>

PostgreSQLクライアントのヘッダやライブラリを含む「libpq-dev」をインストールしましょう。

libpq-devは、PerlでDBIからPostgreSQLサーバーへ接続するためのDBD::Pgをインストールするために必要です。

<pre>
sudo apt install -y libpq-dev 
</pre>

インストールされた、PostgreSQLクライアントのヘッダファイルとライブラリの場所については、<a href="/blog/20200429174004.html">ヘッダーファイルの読み込みパス</a>と<a href="/blog/20200428174004.html">ライブラリの読み込みパス</a>を参考にしてください。
