<div class="bread">
  <ul itemscope itemtype="http://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop="name">Ubuntu</span>
      </a>
      <meta itemprop="position" content="1" />
    </li>
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200529085516.html">
        <span itemprop="name">パッケージ管理</span>
      </a>
      <meta itemprop="position" content="2" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>

<h2>certbotのインストール - Let's EncryptのSSL証明書の取得と更新</h2>

Let's EncryptのSSL証明書の取得と更新を行うにはcertbotパッケージをインストールします。

Let's Encryptを使うと無料でSSL証明書を取得できますが、certbotは、Let's EncryptからのSSL証明書の取得と更新を行ってくれるアプリケーションです。

<pre>
sudo apt install -y certbot
</pre>

certbotがインストールされたことを確認しましょう。

<pre>
certbot --help
</pre>

<h4>ApacheでLet's Encryptで取得したSSL証明書を利用する</h4>

<a href="/blog/20200526151435.html">Apache</a>で、Let's Encryptで取得したSSL証明書を使う場合は、CertbotのためのApacheプラグインであるpython-certbot-nginxパッケージを一緒にインストールしましょう。Apacheの設定ファイルにLet's Encryptで取得したSSL証明書を利用しやすい仕組みを提供します。

<pre>
sudo apt install -y python-certbot-apache
</pre>

<h4>NginxでLet's Encryptで取得したSSL証明書を利用する</h4>

Nginxで、Let's Encryptで取得したSSL証明書を使う場合は、Let's Encryptで取得したSSL証明書を使う場合は、CertbotのためのNginxプラグインであるpython-certbot-nginxパッケージを一緒にインストールしましょう。Nginxの設定ファイルにLet's Encryptで取得したSSL証明書を利用しやすい仕組みを提供します。

<pre>
sudo apt install -y python-certbot-nginx
</pre>
