<div class="side_list">
  <div class="side_list_title">
    Perlテキスト処理のエッセンス
  </div>
  <div class="side_list_body">
    <ul>
      <li>
        <div>
          <a rel="nofollow"target="_blank" href="https://perlri.com/book/perl_text_essense"><img alt="テキスト処理" src="https://perlri.com/images/book/perl_text_essence/perl_text_essence.jpg" width="160"></a>
        </div>
        <div>
          <div style="margin-top:10px;">初級者向け・テキスト処理と正規表現の基本をマスター</div>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="side_list">
  <div class="side_list_title">
    業務に役立つPerl
  </div>
  <div class="side_list_body">
    <ul>
      <li>
        <div>
          <a  rel="nofollow"target="_blank" href="https://perlzemi.com/blog/20120326133275.html"><img src="https://images-na.ssl-images-amazon.com/images/I/51d4T7m8NzL._SX347_BO1,204,203,200_.jpg" width="160"></a>
        </div>
        <div style="margin-top:10px;">実務者向け・ログ解析など日本語を含むテキスト処理の実践!</div>
      </li>
    </ul>
  </div>
</div>

<div class="side_list">
  <div class="side_list_title">
    Perlクラブ
  </div>
  <div class="side_list_body">
    <ul>
      <li style="text-align:center;">
        <div>
          <a rel="nofollow" style="padding-top:20px;padding-bottom:20px;font-size:18px;line-height:1.5;" href="http://www.perlri.com/"><img width="120" src="https://perlri.com/images/perl_club_logo.png"></a>
        </div>
        <div>
          ゆとりある<br>エンジニアライフを創造中<br>Perlクラブ
        </div>
      </li>
    </ul>
  </div>
</div>
